:root {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);

  --titleColor: rgb(51, 160, 255);
  --secondaryColor: aliceblue;
  --textColor: rgb(40, 40, 40);

  --priorityLow: rgb(51, 160, 255);
  --priorityLowSecondary: aliceblue;

  --priorityMedium: rgb(163, 89, 163);
  --priorityMediumSecondary: rgb(209, 177, 209);

  --priorityHigh: rgb(255, 101, 101);
  --priorityHighSecondary: rgb(255, 179, 179);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;

  grid-template-columns: minmax(200px, 350px) minmax(500px, 1fr);
  grid-template-rows: 1fr;
}

#special_decoration {
  color: rgb(159, 166, 172);
  text-decoration: underline;
  text-decoration-color: var(--titleColor);
}

.title h1 {
  color: var(--titleColor);
}

#sidebar {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 30px;

  height: 100vh;

  background-color: rgb(246, 251, 255);
}

#content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
  width: 80%;

  align-items: flex-start;
}

#content,
#sidebar {
  padding-left: 20px;
  padding-top: 25px;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasksOptions,
.projectOptions {
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.tasksOptions h3,
.projectOptions h3 {
  color: var(--titleColor);
}
.tasksOptions,
.projectOptions,
.btn {
  background-color: rgb(246, 251, 255);
  border: none;
  font-size: 12pt;
  gap: 10px;
}
.tasksOptions .btn,
.projectOptions .btn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  cursor: pointer;

  padding: 10px;
  border-radius: 10px;
}

.tasksOptions .btn:hover,
.projectOptions .btn:hover {
  background-color: aliceblue;
}

.tasksOptions .btn:active,
.projectOptions .btn:active {
  background-color: aliceblue;
  box-shadow: 0 1px rgb(224, 241, 255);
  transform: translateY(4px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%) scale(0);
  transition: 200ms ease-in-out;

  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(210, 210, 210);
  z-index: 10;

  background-color: white;

  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -100%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(210, 210, 210);
  border-width: 80%;
  width: 100%;
}

.modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1.25rem;

  color: rgb(175, 175, 175);
}

.modal-content {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

input#taskTitle,
input#projectTitle {
  border: none;
  font-size: 1.25rem;
  padding: 10px;
  width: 300px;
}
input#projectTitle {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
}

.custom-select {
  min-width: 100px;
  position: relative;
}

.modal-content {
  display: flex;
  flex-direction: column;
}
.projectName {
  display: flex;
  align-items: center;
}
.projectName label {
  font-size: 1.25rem;
  font-weight: lighter;
  margin-right: 10px;
}

.modal-content .inputItem {
  padding: 10px;
  font-weight: bold;
}

.modal-content .modalBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modalBtn button {
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 10px;
}
.modalBtn button.close-modal:active,
.modalBtn button.add-task.active:active {
  background-color: aliceblue;
  box-shadow: 0 1px rgb(224, 241, 255);
  transform: translateY(4px);
}

button.close-modal {
  background-color: rgb(230, 230, 230);
}
button.close-modal:hover {
  background-color: rgb(244, 244, 244);
}

button.add_task,
button.add_project,
button.update_task {
  background-color: var(--titleColor);
  font-weight: bold;
  color: white;

  cursor: not-allowed;
}

button.add_task.active,
.modalBtn button.add_project.active,
button.update_task.active {
  cursor: pointer;
}

button.add_task.active:hover,
button.add_project.active:hover {
  background-color: rgb(99, 182, 255);
}

.modalBtn button.active:active {
  box-shadow: 0 1px rgb(224, 241, 255);
  transform: translateY(4px);
}

select,
input[type="date"] {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: auto;
  font-size: 1.15rem;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: rgb(139, 139, 139);
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.contentTitle {
  color: var(--titleColor);
  margin-bottom: 30px;
}

.contentTasks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.taskItem {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 50px 1fr 120px;
  gap: 10px;
  width: 100%;

  border-top: 2px solid rgb(210, 210, 210);
  padding-top: 20px;
  padding-bottom: 20px;
}

.taskItem p.taskDueDate {
  margin-top: 10px;
  font-size: 0.8rem;
  color: rgb(80, 80, 80);
}
.taskItem p.taskProjectTitle {
  font-style: italic;
}
.taskItem p.taskProjectTitle:hover {
  font-weight: bold;
  color: var(--titleColor);
  cursor: pointer;
}
.taskItem .checkBtn {
  top: 50%;
  border: none;
  grid-row: span 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
}

button.checkBtn.priorityHigh {
  border: 2px solid var(--priorityHigh);
  background-color: var(--priorityHighSecondary);
}
button.checkBtn.priorityHigh.cancelled {
  background-color: var(--priorityHigh);
}
button.checkBtn.priorityMedium {
  border: 2px solid var(--priorityMedium);
  background-color: var(--priorityMediumSecondary);
}
button.checkBtn.priorityMedium.cancelled {
  background-color: var(--priorityMedium);
}

button.checkBtn.priorityLow {
  border: 2px solid var(--priorityLow);
  background-color: var(--priorityLowSecondary);
}
button.checkBtn.priorityLow.cancelled {
  background-color: var(--priorityLow);
}

.taskItem .taskContent {
  grid-row: span 2;
}

.taskItem .taskContent h3.cancelled {
  text-decoration: line-through;
  text-decoration-color: var(--textColor);
  text-decoration-thickness: 2px;
}

.editTask,
.removeTask {
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;

  font-size: 0.75rem;
  font-weight: bold;
  color: var(--textColor);

  cursor: none;
  opacity: 0;
}

.removeTask {
  background-color: rgb(255, 101, 101);
  color: white;
}
.editTask.showBtn,
.removeTask.showBtn {
  cursor: pointer;
  opacity: 1;
}
